.dashboard-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
}

.dashboard-item {
    background-color: #CCC8AA;
    border-radius: 8px;
    padding: 20px;
    flex: 1 1 calc(50% - 40px); /* Cambia el ancho para que sea dos columnas */
    color: white;
    min-width: 250px;
}

.dashboard-item h4 {
    margin-bottom: 20px;
}
