.body {
    background: #CCC8AA;
    transition: all .5s;
    padding: 1px;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.veen {
    width: 70%;
    margin: 100px auto;
    background: rgba(255, 255, 255, .5);
    min-height: 400px;
    display: table;
    position: relative;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
}

.veen>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #000;
}

.veen button {
    background: transparent;
    background-image: linear-gradient(90deg, #F1EFEF, #CCC8AA);
    display: inline-block;
    padding: 10px 30px;
    border: 3px solid #000000;
    border-radius: 50px;
    background-clip: padding-box;
    position: relative;
    color: #000000;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    transition: all .25s;
}

.veen button.dark {
    border-color: #CCC8AA;
    background: #CCC8AA;
}

.veen .move button.dark {
    border-color: #F1EFEF;
    background: #F1EFEF;
}

.veen .splits p {
    font-size: 18px;
}

.veen button:active {
    box-shadow: none;
}

.veen button:focus {
    outline: none;
}

.veen>.wrapper {
    position: absolute;
    width: 40%;
    height: 120%;
    top: -10%;
    left: 5%;
    background: #fff;
    box-shadow: 0 0 4px rgba(0, 0, 0, .14), 0 4px 8px rgba(0, 0, 0, .28);
    transition: all .5s;
    color: #303030;
    overflow: hidden;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

.veen .wrapper>form {
    padding: 15px 30px 30px;
    width: 100%;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    transition: all .5s;
    background: #fff;
    width: 100%;
}

.veen .wrapper>form:focus {
    outline: none;
}

.veen .wrapper #login {
    padding-top: 20%;
    visibility: visible;
}

.veen .wrapper #register {
    transform: translateY(-80%) translateX(100%);
    visibility: hidden;
}


.veen>.imglogo {
    width: 50px;
    height: auto;
    right: 90px;
}

.imglogo{
    position: absolute;
    top: 50%;
    right: 10%;
    transform: translate(-50%, -50%);
}

.veen .wrapper.move #register {
    transform: translateY(-80%) translateX(0%);
    visibility: visible;
}

.veen .wrapper.move #login {
    transform: translateX(-100%);
    visibility: hidden;
}

.veen .wrapper>form>div {
    position: relative;
    margin-bottom: 15px;
}

.veen .wrapper label {
    position: absolute;
    top: -7px;
    font-size: 12px;
    white-space: nowrap;
    background: #fff;
    text-align: left;
    left: 15px;
    padding: 0 5px;
    color: #999;
    pointer-events: none;
}

.veen .wrapper h3 {
    margin-bottom: 25px;
}

.veen .wrapper input {
    height: 40px;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #999;
}

.veen .wrapper input {
    height: 40px;
    padding: 5px 15px;
    width: 100%;
    border: solid 1px #999;
}

.veen .wrapper input:focus {
    outline: none;
    border-color: #ff4931;
}

.veen>.wrapper.move {
    left: 45%;
}

.veen>.wrapper.move input:focus {
    border-color: #e0b722;
}

@media (max-width: 767px) {
    .veen {
        padding: 5px;
        margin: 0;
        display: block;
        justify-content: center;
    }

    .veen>.wrapper {
        position: relative;
        height: auto;
        top: 0;
        left: 0;
        width: 100%;
    }

    .imglogo{
        position: sticky;
        transform: translate(0, 0);
    }

    .veen>div {
        display: inline-block;
    }

    .veen>.logo-container {
        display: block;
        text-align: center;
    }

    .veen>.wrapper.move {
        left: 0%;
    }
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    box-shadow: inset 0 0 0 50px #fff
}