div {
    min-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc; /* Línea fina debajo del texto */
    margin-bottom: 10px; /* Pequeña separación */
}

/* Estilos para los números */
.num {
    font-family: 'Orbitron', sans-serif;
    background: #000;
    color: #FFF;
    width: 120px;
    height: 75px;
    font-size: 120px;
    text-align: center;
    box-sizing: border-box;
    margin: 0 2px 2px 0;
    overflow: hidden;
}

.num.up {
    line-height: 181px;
}

.num.down {
    line-height: 29px;
}

/* Animación para los números */
@keyframes spin {
    0% {
        transform: translateY(0) rotateX(0);
    }
    25% {
        transform: translateY(37px) rotateX(90deg);
    }
    50% {
        transform: translateY(75px) rotateX(180deg);
    }
    75% {
        transform: translateY(37px) rotateX(90deg);
    }
    100% {
        transform: translateY(0) rotateX(0);
    }
}
