<!DOCTYPE html>
<!-- Declaración del idioma para el documento -->
<html lang="es">

<head>
    <!-- Título del documento -->
    <title></title>
    <!-- Metadatos de la página web -->
    <meta charset="utf-8">
    <meta name="author" content="Daniel Carranza">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- IMPORTACIÓN DE RECURSOS EXTERNOS -->
    <!-- Llamada al icono de la página web -->
    <link type="image/png" rel="icon" href="../../resources/img/icon.png">
    <link rel="stylesheet" href="../../resources/css/btn.css">
    <link rel="stylesheet" href="../../resources/css/detcar.css ">
    <link rel="stylesheet" href="../../resources/css/input.css">
    <!-- Llamada a las hojas de estilos del framework e iconos -->
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="../../resources/css/bootstrap-icons.min.css">
    <link href="../../resources/css/nav.css" rel="stylesheet">
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
</head>

<body style="font-family: 'Quicksand', sans-serif;
font-optical-sizing: auto;
font-style: normal; ;">
    <!-- Contenido principal del documento -->
    <main>
        <!-- Título del contenido principal -->
        <h4 id="mainTitle" class="m-4"></h4>
        <!-- Formulario para iniciar sesión -->
        <form class="row g-4 " id="sessionForm">
            <!-- Campo oculto para asignar el token del reCAPTCHA -->
            <div class="col-12 d-flex justify-content-center">
                <input type="text" placeholder="Usuario" id="usu" name="usu" class="input"
                    required>
            </div>
            <div class="col-12 d-flex justify-content-center mt-5">
                <input type="password" placeholder="Contraseña" id="clave" name="clave" class="input" required>
            </div>
            <div class="col-12 text-center mt-5 mb-4">
                <button class="btnn" type="submit"><a>Ingresar</a>
                </button>
            </div>

            
        </form>
        <div class="col-12 text-center">
            <!-- Enlace para crear una cuenta de usuario -->
            <a href="signup.html">
                <button class="btn" type="submit"> Crear cuenta
                </button>
            </a>
        </div>

           <!-- <form class="row g-3" id="sessionForm">
                
                <div class="col-sm-12 col-md-6 offset-md-2 col-lg-4 offset-lg-4">
                    <input style="margin-top: 80px;" type="text" placeholder="Usuario" id="usu" name="usu" class="input"
                        required>
                </div>
                <div class="col-sm-12 col-md-6 offset-md-2 col-lg-4 offset-lg-4">
                    <input type="password" placeholder="Contraseña" id="clave" name="clave" class="input" required>
                </div>
                <div class="text-center">
                    <button class="btnn" type="submit"><a>Iniciar Sesion</a>
                    </button>
                </div>
            </form>
            <div class="text-center p-3">
                <!-- Enlace para crear una cuenta de usuario 
                <a href="signup.html">
                    <button class="btnn" type="submit"> Registrarme
                    </button>
                </a>
            </div>-->
        
    </main>
    <!-- IMPORTACIÓN DE ARCHIVOS JAVASCRIPT -->
    <!-- Llamada al framework y librería de mensajes -->
    <script type="text/javascript" src="../../resources/js/bootstrap.bundle.min.js"></script>
    <script type="text/javascript" src="../../resources/js/sweetalert.min.js"></script>
    <!-- Llamada al controlador general de la aplicación -->
    <script type="text/javascript" src="../../controllers/utils/components.js"></script>
    <!-- Llamada al controlador del sitio público -->
    <script type="text/javascript" src="../../controllers/utils/public.js"></script>
    <!-- Llamada al controlador de la página web -->
    <script type="text/javascript" src="../../controllers/public/login.js"></script>
</body>

</html>